{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <head>
        <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">

        <title>Registro de llamada</title>
        <script src="{% static 'dist/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'dist/gijgo/js/gijgo.min.js' %}"></script>

        <script src="{% static 'dist/bootstrap-filestyle.js' %}"></script>
    </head>
{% endblock %}

{% block main %}

    <!-- Container -->
    <div class="container-fluid">
        <!-- Row -->
        <div class="row">
            <div class="col-xl-12 pa-0">
                <div class="emailapp-wrap">
                    <div class="email-box">
                        <div class="emailapp-left">
                            <header>
                                <span class=""><i class="fas fa-mobile"></i> Llamadas</span>
                            </header>
                            <div class="emailapp-emails-list" id="scroll">
                                <div class="nicescroll-bar">
                                    <div class="media-body">
                                        {% if llamadas %}
                                            {% for foo in llamadas %}
                                                <div class="email-head">
                                                    <a onclick="recuperar({{ foo.pk }})"
                                                       class="media read-email btn btn-block" data-toggle="tooltip"
                                                       data-placement="top"
                                                       title="{{ foo.id_llamada.texto_breve_material }}">
                                                        <div class="email-subject">
                                                            <div data-offset="0">
                                                                <div class="email-head"><span class="badge badge-info">{{ foo.id_llamada.ruta }}</span> {{ foo.id_llamada.nombre_destinatario }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <hr>
                                            {% endfor %}
                                        {% else %}
                                            <div class="row justify-content-center">
                                                <div class="alert alert-info mt-3" role="alert">
                                                    <span class="glyphicon glyphicon-info-sign"></span> No tienes
                                                    Llamadas pendientes!
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="emailapp-right">
                            <header>
                                <div class="email-options">
                                    <i class="fas fa-clipboard-list"></i> Tu Progreso
                                </div>
                            </header>
                            <div class="emailapp-emails-list">

                                <div class="d-flex justify-content-center mt-3 modal-footer">
                                    <button type="button" class="btn btn-outline-info" data-toggle="modal"
                                            data-target=".bd-example-modal-lg">Comenzar

                                    </button>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--datos de la llamada en el modal-->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-headset"></i> Realizar
                            llamada

                        </h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <div class="container ">
                                        <div class="row">
                                            <div class="col-7">
                                                <div class="form-group ">
                                                    <strong>Nombre almacen</strong>
                                                    <input type="text" class="form-control"
                                                           readonly
                                                           onmousedown="return false"
                                                           id="alm_soli"
                                                           name="alm_soli">
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <div class="form-group">
                                                    <strong>Telefono</strong>
                                                    <input type="text" class="form-control"
                                                           id="telefono"
                                                           readonly
                                                           onmousedown="return false"
                                                           name="telefono">
                                                </div>
                                            </div>
                                            <div class="col-7">
                                                <div class="form-group">
                                                    <strong>Nombre cliente</strong>
                                                    <input type="text" class="form-control"
                                                           readonly
                                                           onmousedown="return false"
                                                           id="nombre_solicitante"
                                                           name="nombre_solicitante">
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-group">
                                                    <strong>Localidad</strong>
                                                    <input type="text" class="form-control"
                                                           id="localidad"
                                                           readonly
                                                           onmousedown="return false"
                                                           name="localidad"
                                                           value="{{ call.localidad }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-9">
                                                <div class="form-group">
                                                    <strong>Direccion</strong>
                                                    <input type="text" class="form-control"
                                                           id="direccion_des_mcia"
                                                           readonly
                                                           onmousedown="return false"
                                                           name="direccion_des_mcia">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <strong>Ruta</strong>
                                                    <input type="text" class="form-control"
                                                           id="ruta"
                                                           name="ruta"
                                                           readonly
                                                           onmousedown="return false">
                                                </div>
                                            </div>
                                            <strong>Observacion inicial</strong>
                                            <textarea class="form-control" id="observacion"
                                                           name="observacion"
                                                           readonly
                                                           onmousedown="return false"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <form method="POST" action="{% url 'archivo:buzon' %}"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <strong>Nombre contesta</strong>
                                                    {{ form.nombre_contesta }}
                                                </div>
                                                <div class="col-sm-4">
                                                    <strong>Fecha de entrega</strong>
                                                    {{ form.fecha_entrega }}
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-sm-3">
                                                    {{ form.id_grabacion }}

                                                </div>
                                                <div class="col-sm-9">
                                                    <strong>Resultado</strong>
                                                    {{ form.id_estado }}
                                                    {{ form.precio }}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col-sm">

                                            <strong>Observaciones</strong>
                                            {{ form.observaciones }}
                                            {{ form.realizado }}
                                            {{ form.id_llamada }}
                                        </div>
                                        <div class="mt-4 d-flex justify-content-center">
                                            <button class="btn bg-dark " type="submit"
                                                    style="color: #FFFFFF;"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="Realizar llamada"><i
                                                    class="fas fa-phone-alt"></i>
                                                Terminar
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% block Javascript %}
    {% endblock %}
    <script>
        $('#MP3FILE').filestyle({
            input: false,
            btnClass: 'btn-info mt-4',
            htmlIcon: '<i class="fas fa-microphone-alt"></i>',
            text: '&nbsp;Audio',
            buttonBefore: true,
            badge: true
        });
        var today = new Date();
        $('#fecha_entrega').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'yyyy-mm-dd',
            minDate: today
        });

        function recuperar(id) {
            $.ajax({
                url: '{% url "archivo:traer" %}',
                data: {
                    'id': id,
                },
                datatype: 'json',
                success: function (data) {
                    if (data) {
                        traiga(data, id);

                    } else {

                    }
                },

            })
        }

        function traiga(user, id) {
            debugger
            $("#nombre_solicitante").val(user.nombre);
            $("#ruta").val(user.ruta);
            $("#telefono").val(user.telefono);
            $("#direccion_des_mcia").val(user.direccion_des_mcia);
            $("#alm_soli").val(user.alm_soli);
            $("#localidad").val(user.localidad);
            $("#observacion").val(user.observacion);
            document.getElementById("id_llamada").value = id;
        }


    </script>
{% endblock %}
{% block scripts %}
    {{ block.super }}

{% endblock %}

