{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <head>
        <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
        <title>Registro de llamada</title>
        <script src="{% static 'dist/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'dist/gijgo/js/gijgo.min.js' %}"></script>
    </head>
{% endblock %}
{% block main %}
    <!-- Container -->
    <div class="container-fluid">
        <!-- Row -->
        <div class="row">
            <div class="col-xl-12 pa-0">
                <div class="emailapp-wrap">

                    <div class="email-box">

                        <div class="emailapp-left">
                            <header>
                                <span class="">Llamadas</span>
                            </header>
                            <div class="emailapp-emails-list">
                                <div class="nicescroll-bar">
                                    <div class="media-body">
                                        {% for foo in diccionario %}
                                            <a onclick="recuperar({{ foo.id_llamada_id }})"
                                               class="media read-email">
                                                <div class="email-head">
                                                    {{ foo.id_llamada.nombre_destinatario }}
                                                </div>
                                                <div class="email-hr-wrap">
                                                    <hr>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="emailapp-right">
                            <header>

                                <div class="email-options-wrap">

                                </div>
                            </header>
                            <div class="email-body">
                                <div class="nicescroll-bar">
                                    <div class="modal-body">


                                        <div class="card-body ">
                                            <div class="form-row">
                                                <div class="form-group ">
                                                    <strong>Nombre almacen</strong>
                                                    <input type="text" class="form-control" readonly
                                                           onmousedown="return false" id="alm_soli"
                                                           name="alm_soli">
                                                </div>&nbsp;&nbsp;&nbsp;
                                                <div class="form-group">
                                                    <strong>Nombre cliente</strong>
                                                    <input type="text" class="form-control" readonly
                                                           onmousedown="return false" id="nombre_solicitante"
                                                           name="nombre_solicitante"
                                                    >
                                                </div>
                                                &nbsp;&nbsp;&nbsp;
                                                <div class="form-group">
                                                    <strong>Telefono</strong>
                                                    <input type="text" class="form-control" id="telefono"
                                                           readonly onmousedown="return false" name="telefono">
                                                </div>

                                                &nbsp;&nbsp;&nbsp;
                                                <div class="form-group">
                                                    <strong>Direccion</strong>
                                                    <input type="text" class="form-control" id="direccion_des_mcia"
                                                           readonly onmousedown="return false"
                                                           name="direccion_des_mcia">
                                                </div>
                                                &nbsp;&nbsp;&nbsp;
                                                <div class="form-group">
                                                    <strong>Ruta</strong>
                                                    <input type="text" class="form-control" id="ruta" name="ruta"
                                                           readonly onmousedown="return false"
                                                    >
                                                </div>
                                                &nbsp;&nbsp;&nbsp;
                                                <div class="form-group">
                                                    <strong>localidad</strong>
                                                    <input type="text" class="form-control" id="localidad"
                                                           readonly onmousedown="return false" name="localidad"
                                                           value="{{ call.localidad }}">
                                                </div>
                                            </div>
                                        </div>

                                        <form method="post" id="registro-llamada" action="{% url 'archivo:buzon' %}">
                                            {% csrf_token %}
                                            <hr>
                                            <h5><i class="fas fa-phone-alt"></i> Llamada</h5>
                                            <div class="card-body">

                                                <div class="form-row">

                                                    <div class="form-group ">
                                                        <strong>Nombre contesta</strong>
                                                        <input type="text" class="form-control" id="nombre_contesta"
                                                               name="nombre_contesta">
                                                    </div>&nbsp;&nbsp;&nbsp;
                                                    <div class="form-group">
                                                        <strong>Resultado de llamada</strong>

                                                        <select id="resultado_llamada" name="resultado_llamada"
                                                                class="form-control">
                                                            <option selected value="">Seleccionar</option>
                                                            {% for i in estados %}
                                                                <option value="{{ i.pk }}">{{ i.nombre }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>&nbsp;&nbsp;&nbsp;
                                                    <div class="form-group">
                                                        <strong>Fecha de entrega</strong>
                                                        <input id="fecha_entrega" name="fecha_entrega" width="250"/>
                                                    </div>
                                                    <div class="container">
                                                        <div class="form-group">
                                                            <label for="exampleFormControlTextarea1">
                                                                Observaciones</label>
                                                            <textarea class="form-control"
                                                                      id="observaciones"
                                                                      rows="2"></textarea>

                                                        </div>
                                                        <div class="col-6 col-md-4  ">
                                                            <input type="file" class="custom-file-input"
                                                                   id="customFile">
                                                            <label class="custom-file-label" for="customFile"><i
                                                                    class="fas fa-microphone-alt"></i>
                                                                Seleccionar</label>

                                                        </div>
                                                        <div class="row justify-content-around">
                                                            <button type="submit" class="btn"
                                                                    style="background-color:#36876a;color: white">
                                                                Terminar llamada
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Compose email -->
                <div class="modal fade" id="exampleModalEmail" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalEmail" aria-hidden="true"
                     style="box-shadow: inset 0 0 20px #36876a">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-dark">
                                <h6 class="modal-title text-white" id="exampleModalPopoversLabel"><i
                                        class="far fa-address-book"></i> Informacion del
                                    cliente</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% block Javascript %}
        <script>
            $('#fecha_entrega').datepicker({
                uiLibrary: 'bootstrap4'
            });

            function recuperar(id) {
                $.ajax({
                    url: '{% url "archivo:traer" %}',
                    data: {
                        'id': id,
                    },
                    datatype: 'json',
                    success: function (data) {
                        if (data) {
                            traiga(data, id);
                        } else
                            alert('asdasdasd');
                    }
                })
            }

            var dire = document.getElementById("registro-llamada").action;

            function traiga(user, id) {
                $("#nombre_solicitante").val(user.nombre);
                $("#ruta").val(user.ruta);
                $("#telefono").val(user.telefono);
                $("#direccion_des_mcia").val(user.direccion_des_mcia);
                $("#alm_soli").val(user.alm_soli);
                $("#localidad").val(user.localidad);
                var direccion = dire + id + "/";
                document.getElementById("registro-llamada").action = direccion;
            }
        </script>
    {% endblock %}

{% endblock %}
