{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
    <title>Estados</title>
    <script src="{% static 'dist/jquery/dist/jquery.min.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-xl-12">
                <section class="hk-sec-wrapper">
                    <section class="hk-sec-wrapper">
                        <h5 class="hk-sec-title">
                            <button type="button" class="btn btn"
                                    style="background-color: #36876a; color: #fff4f0" data-toggle="modal"
                                    data-target="#exampleModalCenter"><i class="fas fa-plus-square"></i></button>
                            Registrar estado
                        </h5>
                    </section>
                    <div class="row">
                        <div class="col-xl-12">
                            <section class="hk-sec-wrapper">
                                <table id="table_id" class="table table-hover"
                                       style="width:60%">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for object in object_list %}
                                        <tr id="fila-{{ object.pk }}">
                                            <td> {{ object.id }}</td>
                                            <td class="NombreEstado userData"
                                                name="nombre">{{ object.nombre }}</td>
                                            <td>
                                                <button class="btn btn-dark"
                                                        onclick="Editar({{ object.pk }}),open_modal()"><i
                                                        class="fa fa-pencil"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Nuevo estado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" id="inserte" action="{% url 'archivo:estado' %}" novalidate autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form.nombre }}
                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn" style="background-color: #36876a; color: #fff4f0">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- modificar estado---->
    <div class="modal fade" id="modal_modificar"> {% include 'llamada/modificar_estado.html' %}</div>

    {% block javascript %}
        <script>
            function open_modal() {
                $("#modal_modificar").modal('show');
            }

            $("form#Estado_U").submit(function () {
                event.preventDefault();
                var id1 = $('input[name="formId"]').val().trim();
                var nombre1 = $('input[name="NombreEstado"]').val().trim();
                if (nombre1) {
                    $.ajax({
                        url: '{% url "archivo:UpdateEstado" %}',
                        method: 'get',
                        data: {
                            'id': id1,
                            'nombre': nombre1,

                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.estado) {
                                Swal.fire(
                                    'Operacion exitosa !',
                                    'Estado modificado¡',
                                    'success'
                                );
                                tableUpdate(data.estado);
                            } else {
                                alert("Campo Vacio");
                            }
                            $('#modal_modificar').modal('hide');
                            return false;
                        }
                    });
                } else {
                    Correcto();
                }
            });

            function Correcto() {
                Swal.fire(
                    'Mal !',
                    'Llenar los campos',
                    'error'
                );
            }

            function Editar(id) {
                debugger
                if (id) {
                    tr_id = "#fila-" + id;
                    nombre = $(tr_id).find(".NombreEstado").text();

                    $('#form-id').val(id);
                    $('#NombreEstado').val(nombre);

                }
            }

            function tableUpdate(user) {
                $("#table_id #fila-" + user.id).children(".userData").each(function () {
                    var atributos = $(this).attr("name");

                    if (atributos === "nombre") {
                        $(this).text(user.nombre);

                    }

                });
            }

        </script>
    {% endblock %}
{% endblock %}
