{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
    <title>Registro de llamada</title>
{% endblock %}
{% block main %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="row">

        <div class="col-md-4 ml-auto">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
