{% load static %}
{% block title %}
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
    <title>{{ perfil.usuario.first_name }}</title>
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block main %}

    <div class="hk-pg-wrapper hk-auth-wrapper">
        <header class="d-flex justify-content-end align-items-center">
        </header>
        <div class="container-fluid">

            <div class="auth-form-wrap pt-xl-0 pt-70">
                <div class="auth-form w-xl-30 w-sm-50 w-100">
                    <a class="auth-brand text-center d-block mb-20" href="#">
                        <img class="" src="{% static 'dist/img/LogoSGT.png' %}" height="150" size="90"/>
                    </a>
                    <p>Su contraseña se restablecio correctamente</p>

                    <div class="modal-footer">
                        <a class="btn btn" style="background-color:  #36876a; color: #fff4f0"
                           href="{% url 'usuario:login' %}">Iniciar
                            sesion</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}



