<!doctype html>
<html lang="es">
<head>
    {% block title %}
        <title>Telemercadeo</title>
    {% endblock %}
    {% block head_content %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">


        {% load static %}
        <!-- vector map CSS -->
        <link href="{% static 'vendors/vectormap/jquery-jvectormap-2.0.3.css' %}" rel="stylesheet" type="text/css"/>
        <!-- Toggles CSS -->
        <link href="{% static 'vendors/jquery-toggles/css/toggles.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'vendors/jquery-toggles/css/themes/toggles-light.css' %}" rel="stylesheet"
              type="text/css">
        <!-- Tablesaw table CSS -->
        <link href="{% static 'vendors/tablesaw/dist/tablesaw.css' %}" rel="stylesheet" type="text/css"/>
        <!-- Toastr CSS -->
        <link href="{% static 'vendors/jquery-toast-plugin/dist/jquery.toast.min.css' %}" rel="stylesheet"
              type="text/css">
        <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
        <!-- Custom CSS -->
        <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'dist/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'dist/css/css-jf.css' %}">
        <link rel="stylesheet" href="{% static 'dist/css/selectable.css' %}">
        <link rel="stylesheet" href="{% static 'dist/notifications.css' %}">

    {% endblock %}
</head>
<body>
<div class="preloader-it">
    <div class="loader-pendulums">
    </div>
</div>

<div class="hk-wrapper hk-vertical-nav">
    {% block navbar %}
        {% include 'base/components/navbar.html' %}
    {% endblock %}
    {% block sidebar %}
        <nav class="hk-nav hk-nav-light">
            {% include 'base/components/sidebar.html' %}
        </nav>
    {% endblock %}
    <div class="hk-pg-wrapper">
        {% block main %}
        {% endblock %}
    </div>
</div>


</body>
<!-- Bloque con Scripts -->
{% block scripts %}
    {% include 'base/components/scripts.html' %}
    {% include 'base/components/scriptjs.html' %}
    <script>
        $("#logout").on("click", function () {
            Swal.fire({
                title: 'Logga ut?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'OK',
                closeOnConfirm: true,
                closeOnCancel: true
            }).then((result) => {
                if (result.value === true) {
                    $('#logoutform').submit() // this submits the form
                }
            })
        })
    </script>
{% endblock %}

</html>
