<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% block head_content %}{% endblock %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">

    <script src="https://kit.fontawesome.com/45102d11bb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'dist/css/loginS.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<body>
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-6 login-form-1" style="background-image: url({% static 'dist/img/Fondo.jpg' %})">
        </div>
        <div class="col-md-6 login-form-2">

            {% block container %}
            {% endblock %}
        </div>
    </div>
    <br>

    {% if error %}
        <div class="alert alert-danger" role="alert">

            <strong> <i class="fas fa-exclamation-triangle"></i> {{ error }} </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {% endif %}
</div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>
