<!doctype html>
<html lang="en">
<head>
{% block title %}
     <title>Unamed</title>
{% endblock %}
    {% block head_content %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">


        {% load static %}


        <!-- vector map CSS -->
        <link href="{% static 'vendors/vectormap/jquery-jvectormap-2.0.3.css' %}" rel="stylesheet" type="text/css"/>

        <!-- Toggles CSS -->
        <link href="{% static 'vendors/jquery-toggles/css/toggles.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'vendors/jquery-toggles/css/themes/toggles-light.css' %}" rel="stylesheet"
              type="text/css">
         <!-- Tablesaw table CSS -->
        <link href="{% static 'vendors/tablesaw/dist/tablesaw.css'%}" rel="stylesheet" type="text/css"/>

        <!-- Toastr CSS -->
        <link href="{% static 'vendors/jquery-toast-plugin/dist/jquery.toast.min.css' %}" rel="stylesheet"
              type="text/css">

        <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
        <!-- Custom CSS -->
        <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    {% endblock %}
</head>
<body>
<div class="preloader-it">
    <div class="loader-pendulums"></div>
</div>

<div class="hk-wrapper hk-vertical-nav">
    {% block navbar %}
        {% include 'base/components/navbar.html' %}
    {% endblock %}
    {% block sidebar %}
        <nav class="hk-nav hk-nav-light">
            {% include 'base/components/sidebar.html' %}
        </nav>
    {% endblock %}
    {% block main %}

    {% endblock %}
</div>


</body>
{% block scripts %}

    {% include 'base/components/scripts.html' %}
{% endblock %}

</html>
