{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    <head>
        <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
        <title>Mi Reporte</title>
        <script src="{% static 'dist/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'dist/Datatables/FileSaver.min.js' %}"></script>
        <script src="{% static 'dist/Datatables/xlsx.full.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'dist/bootstrap/dist/css/bootstrap.min.css' %}">

    </head>
{% endblock %}

{% block main %}
    <div class="container card-sm bg-white" style="border-radius: 5px">

        <h3 class="hk-pg-title mt-2">
            <i class="fa fa-search"></i> Reportes
            <button class="btn btn-outline-success float-lg-right col-sm-3" id="button-a" data-toggle="tooltip"
                    data-placement="top" title="Exportar excel">
                Exportar
            </button>
        </h3>

        <hr>
        <div class="col">
            <form method="post" action="{% url 'archivo:llevar_liquidacion' %}">
                {% csrf_token %}
                <div class="container ">
                    <div class="row card-body">
                        <div class="col-sm-3">
                            <select name="meses" class="form-control">
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>

                            </select>

                        </div>


                        <div class="col p-3">

                            <button type="submit" class="btn btn-outline-info"
                                    style="margin-left: 100%"
                            ><i class="fas fa-search"></i> Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <table class="tablesaw  tablesaw-bar table-hover " id="table">
            <thead class="table-borderless">
            <tr>
                <th scope="col">Nombre Operador</th>
                <th scope="col">Total llamadas</th>
                <th scope="col">Total liquidado</th>
            </tr>
            </thead>
            <tbody>


            <tr class="tablesaw-sortable-arrow table-info">
                <td>{{ nombre }}</td>
                <td>{{ total }}</td>
                <td>{{ consulta.suma }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    {% block javascript %}
        <script>
            $(document).ready(function () {
                $('#table').DataTable({
                    "scrollX": true,
                    "scrollY": "400px",
                    "scrollCollapse": true,
                    bfilter: false,
                    ordering: true,
                    searching: true,
                    info: false,
                    "language": español
                });
            });

            function excel_exporte() {
                var wb = XLSX.utils.table_to_book(document.getElementById('table'), {sheet: "Sheet JS"});
                var wbout = XLSX.write(wb, {bookType: 'xlsx', bookSST: true, type: 'binary'});
                return wbout
            }


            function s2ab(s) {
                var buf = new ArrayBuffer(s.length);
                var view = new Uint8Array(buf);
                for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                return buf;
            }

            $("#button-a").click(function () {

                Swal.fire({
                    title: 'Desea exportar los datos?',
                    text: "Verifique los datos de la tabla!",
                    icon: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#36876a',
                    cancelButtonColor: '#409ec1',
                    confirmButtonText: 'Si deseo exportar!'
                }).then((result) => {
                    if (result.value) {
                        saveAs(new Blob([s2ab(excel_exporte())], {type: "application/octet-stream"}), 'Telemercadeo.xlsx');
                        Swal.fire(
                            'Exportado!',
                            'Su reporte esta listo',
                            'success'
                        )
                    }
                })
            });

            var español = {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ Registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
            };
        </script>
    {% endblock %}
{% endblock %}
