{% extends 'base/base.html' %}

{% load static %}

{% block title %}

    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
    <title>Reporte de usuario</title>
    <script src="{% static 'dist/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'dist/Datatables/FileSaver.min.js' %}"></script>
    <script src="{% static 'dist/Datatables/xlsx.full.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dist/bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



{% endblock %}

{% block main %}

    <div class="container bg-white mt-2 cp">
        <strong class="d-flex justify-content-center m-1"><i class="fas fa-chart-bar mt-1"></i>&nbsp;Estadisticas de
            usuario</strong>
        <hr>
        <div class="row">

            <div class="col-8">
                <canvas id="Grafica" width="38" height="30"></canvas>
            </div>
            <div class="col-4">
                <ul class="list-group mt-2">
                    <li class="list-group-item text-muted"><i class="fas fa-hand-holding-usd"></i> Ganancias</li>
                    <li class="list-group-item text-center">
                        <strong><i class="fas fa-coins"></i> Total a pagar:
                            <span id="liquidacion" name="liquidacion"></span>
                        </strong>

                    </li>
                </ul>
            </div>
        </div>

        <div class="row card-footer">

            {# Este es el de las fechas #}
            <div class="col-sm">
                <strong>Rango de ejecucion </strong>
                <select class="custom-select mr-sm-2" name="fecha" id="fecha">
                    <option value="0">Desde siempre</option>
                    <option value="1">Ultimo dia</option>
                    <option value="2">Ultima semana</option>
                    <option value="3">Ultimo mes</option>
                </select>
            </div>

            {# Este es el de los usuario #}
            <div class="col-sm-5">
                <strong>Operador</strong>
                <select class="custom-select mr-sm-2 col-sm" name="usuario" id="usuario">
                    {% for a in usuario %}
                        <option value="{{ a.pk }}">{{ a.usuario.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-outline-info mt-4" onclick="funcion()"><i
                        class="fas fa-search"></i> Buscar
                </button>
            </div>
        </div>
    </div>



    <script>

        function funcion() {
            var usuario = document.getElementById('usuario').value;
            var valor = document.getElementById('fecha').value;
            $.ajax({
                method: 'GET',
                url: '{% url 'archivo:traer_reporte_usuario' %}',
                data: {
                    'valor': valor,
                    'usuario': usuario
                },
                success: function (data) {
                    $("#liquidacion").html(`$${data.liquidacion.suma}`);
                    dar(data);
                }
            });
        }

        Canvas = document.getElementById("Grafica").getContext('2d');
        var myChart = new Chart(Canvas, {
            type: "bar",
            data: {
                labels: ['Informacion de la entrega', 'No contesta', 'Aplaza', 'No cubre', 'Solicita almacen', 'Desiste', 'Almacen compromete', 'Datos errados', 'No sabe'],
                datasets: [{
                    label: 'Num datos',
                    data: [0, 0, 0, 0, 0, 0, 0, 0, 0],
                    backgroundColor: [
                        'rgb(66, 134, 244,0.5)',
                        'rgba(36,243,179,0.77)',
                        'rgba(83,229,105,0.87)',
                        'rgb(229, 89, 50,0.5)',
                        'rgb(229, 89, 50,0.5)',
                        'rgb(229,0,46)',
                        'rgb(229, 89, 50,0.5)',
                        'rgba(229,105,85,0.82)',
                        'rgb(229, 89, 50,0.5)',
                    ]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        function dar(data) {
            myChart.data.datasets[0].data = [data.exito, data.no_contesta, data.CLAPLE, data.ZNCUB, data.CLEAL, data.CLDES, data.ALCOMPE, data.datos_errados, data.CLINOSOL];
            myChart.data.datasets[0].label = data.nombre;
            myChart.update();
        }
    </script>

    <style>
        .container {
            width: 65%;
            height: 70%;

        }


        .cp {
            border-radius: 3px;
            -webkit-box-shadow: 14px 9px 23px -6px rgba(0, 0, 0, 0.45);
            -moz-box-shadow: 14px 9px 23px -6px rgba(0, 0, 0, 0.45);
            box-shadow: 14px 9px 23px -6px rgba(0, 0, 0, 0.45);
        }
    </style>
{% endblock %}
