{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    <head>
        <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
        <title>Exportar</title>
        <script src="{% static 'dist/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'dist/Datatables/FileSaver.min.js' %}"></script>
        <script src="{% static 'dist/Datatables/xlsx.full.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'dist/bootstrap/dist/css/bootstrap.min.css' %}">

    </head>
{% endblock %}

{% block main %}
    <div class="container card-sm bg-white" style="border-radius: 5px">

        <h3 class="hk-pg-title mt-2">
            <i class="fa fa-search"></i> Reportes
            <button class="btn btn-outline-success float-lg-right col-sm-3" id="button-a" data-toggle="tooltip"
                    data-placement="top" title="Exportar excel">
                Exportar
            </button>
        </h3>

        <hr>
        <form method="post" action="{% url 'archivo:envio_general' %}">
            {% csrf_token %}
            <div class="container ">
                <div class="row card-body">
                    <div class="col-sm">
                        <select name="respuesta" class="form-control">
                            <option value="0">Desde siempre</option>
                            <option value="1">ultimo dia</option>
                            <option value="2">ultima semana</option>
                            <option value="3">ultima mes</option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-outline-info ml-4" data-toggle="tooltip" data-placement="top"
                                title="Buscar datos" type="submit">Buscar
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <table class="tablesaw  tablesaw-bar table-hover " id="table">
            <thead class="table-borderless">
            <tr>
                <th scope="col">Solicitante</th>
                <th scope="col">Ruta</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Barrio</th>
                <th scope="col">Localidad</th>
                <th scope="col">Material</th>
                <th scope="col">Destinatario</th>
                <th scope="col">Telefono</th>
                <th scope="col" data-toggle="tooltip"
                    data-placement="top" title="Nombre contesta">Contesta</th>
                <th scope="col" data-toggle="tooltip"
                    data-placement="top" title="Fecha de Entrega ">Fecha</th>
                <th scope="col">Audio</th>
                <th scope="col">Estado</th>
            </tr>
            </thead>
            <tbody>
            {% if registro %}
                {% for i in registro %}
                    <tr class="tablesaw-sortable-arrow table-info">
                        <td>{{ i.id_llamada.nombre_solicitante }}</td>
                        <td>{{ i.id_llamada.ruta }}</td>
                        <td>{{ i.id_llamada.cantidad_pedido }}</td>
                        <td>{{ i.id_llamada.barrio }}</td>
                        <td>{{ i.id_llamada.localidad }}</td>
                        <td>{{ i.id_llamada.material }}</td>
                        <td>{{ i.id_llamada.nombre_destinatario }}</td>
                        <td>{{ i.id_llamada.telefono }}</td>
                        <td>{{ i.nombre_contesta }}</td>
                        <td>{{ i.fecha_entrega }}</td>
                        <td>{{ i.id_grabacion.audio.url }}</td>
                        <td>{{ i.id_estado.nombre }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if error %}
                <div class="alert alert-info">
                    <span class="glyphicon glyphicon-info-sign"></span> No hay llamadas!
                </div>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% block javascript %}
        <script>
            $(document).ready(function () {
                $('#table').DataTable({
                    "scrollX": true,
                    "scrollY": "200px",
                    "scrollCollapse": true,
                    bfilter: false,
                    ordering: true,
                    searching: true,
                    info: false,
                    "language": español
                });
            });

            var wb = XLSX.utils.table_to_book(document.getElementById('table'), {sheet: "Sheet JS"});
            var wbout = XLSX.write(wb, {bookType: 'xlsx', bookSST: true, type: 'binary'});

            function s2ab(s) {
                var buf = new ArrayBuffer(s.length);
                var view = new Uint8Array(buf);
                for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                return buf;
            }

            $("#button-a").click(function () {

                Swal.fire({
                    title: 'Desea exportar los datos?',
                    text: "Verifique los datos de la tabla!",
                    icon: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#36876a',
                    cancelButtonColor: '#409ec1',
                    confirmButtonText: 'Si deseo exportar!'
                }).then((result) => {
                    if (result.value) {
                        saveAs(new Blob([s2ab(wbout)], {type: "application/octet-stream"}), 'Telemercadeo.xlsx');
                        Swal.fire(
                            'Exportado!',
                            'Su reporte esta listo',
                            'success'
                        )
                    }
                })
            });

            var español = {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ Registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
            };
        </script>
    {% endblock %}
{% endblock %}
