{% extends 'base/base.html' %}
{% load static %}
<meta charset="UTF-8">

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
{% block title %}
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
    <title>Administrar archivo</title>
{% endblock %}

{% block main %}
    <div class="hk-pg-wrapper">
        <div class="container">
            <table class="table table-striped" id="Tablet">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Accion</th>
                </tr>
                </thead>
                <tbody>
                {% if object_list %}
                    {% for i in object_list %}
                        <tr id="archivo-{{ i.pk }}">
                            <td>{{ i.nombre }}</td>
                            <td>{{ i.created }}</td>
                            <td>
                                <button class="btn btn-danger " onclick="eliminar({{ i.pk }}) ">
                                    <i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        </tbody>

                    {% endfor %}
                    </table>

                    </div>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        <h4><span class="glyphicon glyphicon-exclamation-sign"></span> No
                            hay archivos!
                        </h4>
                    </div>
                {% endif %}

        <script>
            function eliminar(id) {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        cancelButton: 'btn btn-danger',
                        confirmButton: 'btn btn-success'

                    },
                    buttonsStyling: true

                });

                swalWithBootstrapButtons.fire({
                    title: 'Estas seguro?',
                    text: "Desea eliminar el archivo?",
                    icon: 'info',
                    showCancelButton: true,

                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Continuar',
                    reverseButtons: false
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: '{% url "archivo:exterminar" %}',
                            data: {
                                'id': id,
                            },
                            dataType: 'json',
                            success: function (data) {
                                if (data.deleted) {
                                    $("#Tablet #archivo-" + id).remove();
                                    bueni();
                                }
                                if (!data.deleted) {
                                    mensaje();
                                }
                            }
                        });
                    } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                            'Cancelado',
                            'Tu archivo esta seguro',
                            'info'
                        )
                    }
                })
            }

            function mensaje() {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Termine de repartir las llamadas!',

                })
            }

            function bueni() {
                Swal.fire(
                    'Operacion Realizada    !',
                    'Eliminado correctamente',
                    'success'
                )

            }
        </script>
    </div>
{% endblock %}
