{% extends 'base/base.html' %}
{% load static %}
<meta charset="UTF-8">

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
{% block title %}
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
    <title>Administrar archivo</title>
{% endblock %}

{% block main %}
    <div class="hk-pg-wrapper">
        <table class="table table-striped" id="Tablet">
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                <th scope="col">Accion</th>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for i in object_list %}
                    <tr id="archivo-{{ i.pk }}">
                        <td>{{ i.nombre }}</td>
                        <td>{{ i.fecha_ingreso }}</td>
                        <td>
                            <button class="btn btn-danger " onclick="eliminar({{ i.pk }}) ">
                                <i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>

                {% endfor %}
            {% else %}
                <h1 align="center">No hay archivos</h1>
            {% endif %}
            </tbody>
        </table>

        <script>
            function eliminar(id) {


                Swal.fire({
                    title: 'Desea eliminar el archivo?',
                    text: "Verifique las llamadas realizadas!",
                    icon: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#36876a',
                    cancelButtonColor: '#409ec1',
                    confirmButtonText: ' Eliminar!'
                }).then(function (result) {
                    if (result != false) {
                        $.ajax({
                            url: '{% url "archivo:delete" %}',
                            data: {
                                'id': id,
                            },
                            dataType: 'json',
                            success: function (data) {
                                if (data.deleted) {
                                    $("#Tablet #archivo-" + id).remove();
                                    bueni();
                                }
                                if (!data.deleted) {
                                    mensaje();
                                }
                            }
                        });
                    }
                })
            }

            function mensaje() {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '{{ errors }}!',

                })
            }

            function bueni() {
                Swal.fire(
                    'Muy bien!',
                    'Eliminado correctamente',
                    'success'
                )

            }
        </script>
    </div>
{% endblock %}
