{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
    <title>Importe</title>

{% endblock %}


{% block main %}
    <div class="container mt-4">
        <div class="container-fluid">

            <div class="card">
                <div class="card-body">
                    <h4 class="hk-pg-title card-title">
                    <span class="pg-title-icon">
                    </span><i class="fas fa-file-excel"></i>&nbsp;Importe de archivo
                    </h4>
                    <hr>
                    <div class="container">
                        <div class="custom-file col-md-6 ">
                            <form action="{% url 'archivo:importe' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.archivo }}
                                </div>
                                <button class="btn btn-outline-success" id="btn" type="submit" data-toggle="tooltip"
                                        data-placement="bottom" title="Importar archivo excel!">
                                    Importar
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script>
        function papa() {
            debugger
            archivo = document.getElementById('nombre');
            otra = archivo.value;
            var extension = /(.xls|xlsx)$/i;
            if (!extension.exec(otra)) {
                document.getElementById('input').value = '';
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Solo se pueden extensiones de tipo .xlsx/.xls',
                });
                return false;
            }
        }
    </script>


{% endblock %}
