{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
    <title>Importe</title>

{% endblock %}


{% block main %}
    <div class="container mt-4">
        <div class="container-fluid">

            <div class="card">
                <div class="card-body">
                    <h4 class="hk-pg-title card-title">
                    <span class="pg-title-icon">
                    </span><i class="fas fa-file-excel"></i>&nbsp;Importe de archivo
                    </h4>
                    <hr>
                    <div class="container">
                        <div class="custom-file col-md-6 ">
                            <form action="{% url 'archivo:importe' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="text" id="nombre" name="nombre" hidden>
                                <div class="form-group">
                                    {{ form.archivo }}
                                </div>
                                <button class="btn btn-outline-success" id="btn " type="submit"  data-toggle="tooltip"
                                data-placement="bottom" title="Importar archivo excel!">
                                    Importar
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <script src="{% static 'dist/notifications.js' %}"></script>
    <script>
        const ErrorNotification = window.createNotification({
            theme: 'error',
            showDuration: 5000
        });

        const succcesNotification = window.createNotification({
            theme: 'success',
            showDuration: 5000
        });

        function papa() {
            nombre = document.getElementById('input').files[0].name;
            document.getElementById('nombre').value = nombre;
        }

        document.getElementById('btn').addEventListener("click", function () {
            let file = document.getElementById('input');
            if (file.files.length == 0) {
                event.preventDefault()
                ErrorNotification({
                    message: 'Seleccione un archivo!'
                })
            }


        });
        {% if form.errors %}
            {% for errores in form.non_field_errors %}

                ErrorNotification({
                    message: '{{ errores }}'

                })
            {% endfor %}
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                succcesNotification({
                    message: '{{ message }}'

                })

            {% endfor %}
        {% endif %}
    </script>


{% endblock %}
