{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
    <title>LLamadas</title>
{% endblock %}
{% block main %}
    <div class="card-header mt-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="demo" onmouseup="unaFuncion()" class="row">
                        <div class="col-lg-3 offset-lg-2">
                            <div class="wrapper">
                                <div id="wrapper">
                                    <div id="container">
                                        {% for llamada in llamadas_hoy %}
                                            <div class="box">
                                                <p class="nota">{{ llamada.entrega }}</p>
                                                <p hidden>{{ llamada.id }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div id="threshold">
                                        <div class="threshold"></div>
                                        <div class="threshold"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    {% include 'base/components/tablaUserConect.html' %}

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2 id="cant_ll" class="col-lg-1 offset-9">{{ llamadas_hoy|length }}</h2>
                    <h2 id="cant_usu" class="col-lg-1 offset-9">{{ usuario_conectado|length }}</h2>
                    <h2 id="conteo" class="col-lg-1 offset-9"></h2>
                    <h2 id="llam_res" class="col-lg-1 offset-9"></h2>
                    <h2 id="division" class="col-lg-1 offset-9"></h2>
                    <a id="nea" href="{% url 'archivo:asignar' %}" hidden></a>
                    <button class="btn btn-success" id="clickes">Enviar Llamadas</button>
                    <button class="btn btn-warning" id="clickes">Repartir</button>
                    <button class="btn btn-info" id="clickes">Repartir Equitativamente</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="hk-footer-wrap container">
        <footer class="footer">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <p>Creado por<a href="#" class="text-dark" target="_blank">La Gerencia</a>
                        © 2020</p>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}
{% block scripts %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'dist/js/selectable/selectable.js' %}"></script>

    <script src="{% static 'dist/js/codigo.js' %}"></script>
    <script src="{% static 'dist/js/code.js' %}"></script>
    <script>
        var urlAsignar = document.getElementById('nea').getAttribute('href');
        var aux = document.location.href.substr(0, 21);
        var urlCompleta = aux + urlAsignar;

    </script>
{% endblock %}
