{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
    <title>LLamadas</title>
{% endblock %}
{% block main %}
    <br>
    <br>
    <br>
    <div id="demo" onmouseup="unaFuncion()" class="row">
        <div class="col-lg-3 offset-lg-2">
            <div class="wrapper">
                <div id="wrapper">
                    <div id="container">
                        {% for llamada in llamadas_hoy %}
                            <div class="box">
                                <p class="nota">{{ llamada.entrega }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="threshold">
                        <div class="threshold"></div>
                        <div class="threshold"></div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'base/components/tablaUserConect.html' %}
        <h2 id="cant_ll" class="col-lg-1 offset-9">{{ llamadas_hoy|length }}</h2>
        <h2 id="conteo" class="col-lg-1 offset-9"></h2>
        <h2 id="llam_res" class="col-lg-1 offset-9"></h2>
        <h2 id="division" class="col-lg-1 offset-9"></h2>
        <a id="nea" href="{% url 'archivo:asignar' %}" hidden></a>
        <button id="clickes"></button>

    </div>

    <div class="col"></div>

    <div class="hk-pg-wrapper">
        <!-- Breadcrumb -->
        <nav class="hk-breadcrumb" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light bg-transparent">

            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <!-- Container -->
        <div class="container">

            <!-- Title -->
            <div class="hk-pg-header">
                <h4 class="hk-pg-title"><span class="pg-title-icon"><i class="far fa-file-excel"></i></span>Archivo</h4>
            </div>
            <!-- /Title -->

            <div class="row">
                <div class="col-xl-12">
                    <section class="hk-sec-wrapper">


                        <div class="row">
                            <div class="col-xl-12">

                                <section class="hk-sec-wrapper">


                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="table-wrap">

                                                <table class="table  tablesaw table-hover  mb-0"
                                                       data-tablesaw-mode="swipe">
                                                    <button type="button" class="btn btn-dark"
                                                            style="background-color:#36876a"
                                                            data-toggle="modal"
                                                            data-target=".bd-example-modal-sm">Seleccionar operador
                                                    </button>

                                                    <thead>
                                                    <tr>
                                                        <th scope="row"><input type="checkbox" name="foo" value="bar1">
                                                        </th>
                                                        <th scope="col" data-tablesaw-sortable-col
                                                            data-tablesaw-priority="persist">
                                                            Destinatario
                                                        </th>
                                                        <th scope="col" data-tablesaw-sortable-col
                                                            data-tablesaw-priority="persist">
                                                            Direccion
                                                        </th>
                                                        <th scope="col" data-tablesaw-sortable-col
                                                            data-tablesaw-sortable-default-col
                                                            data-tablesaw-priority="3">Entrega
                                                        </th>


                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    {% for foo in object_list %}
                                                        <tr>
                                                            <th scope="row">
                                                                <input type="checkbox" name="foo"
                                                                                   value="bar1">
                                                            </th>
                                                            <td>{{ foo.nombre_destinatario }}</td>
                                                            <td>{{ foo.direccion_des_mcia }}</td>
                                                            <td>{{ foo.entrega }}</td>


                                                        </tr>
                                                        </tbody>
                                                    {% endfor %}
                                                </table>

                                                {% if object_list %}
                                                {% else %}
                                                    <h1>NO HAY DATOS PARA MOSTRAR</h1>
                                                {% endif %}

                                                {% if error %}
                                                    <h1>{{ error }}</h1>
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>

                                </section>
                                <button class="btn btn-success col-md-6" type="submit">Entregar</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
             aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <h5 class="card-header">Operadores en linea</h5>
                    <table class="table table-striped">
                        <thead>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Seleccionar
                        </th>
                        </thead>

                        {% include 'base/components/tablaUserConect.html' %}

                    </table>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary">Enviar Llamada</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Container -->

        <!-- Footer -->
        <div class="hk-footer-wrap container">
            <footer class="footer">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p>Creado por<a href="https://hencework.com/" class="text-dark" target="_blank">La Gerencia</a>
                            © 2019</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <p class="d-inline-block">Follow us</p>
                        <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span
                                class="btn-icon-wrap"><i class="fa fa-facebook"></i></span></a>
                        <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span
                                class="btn-icon-wrap"><i class="fa fa-twitter"></i></span></a>
                        <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span
                                class="btn-icon-wrap"><i class="fa fa-google-plus"></i></span></a>
                    </div>
                </div>
            </footer>
        </div>
        <!-- /Footer -->
    </div>

{% endblock %}
{% block scripts %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'dist/js/selectable/selectable.js' %}"></script>

    <script src="{% static 'dist/js/codigo.js' %}"></script>
    <script src="{% static 'dist/js/code.js' %}"></script>
    <script>
        var urlAsignar = document.getElementById('nea').getAttribute('href');
        var aux = document.location.href.substr(0, 21);
        var urlCompleta = aux + urlAsignar;

    </script>
{% endblock %}