{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
    <title>LLamadas</title>

{% endblock %}
{% block main %}
    <div class="card-header mt-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <ul class="list-group">
                        <li class="list-group-item text-muted"><i class="fa fa-dashboard fa-1x"></i> Actividad</li>
                        <li class="list-group-item text-right">
                        <span class="pull-left">
                            <strong><i class="fas fa-sort-numeric-up"></i> Cantidad</strong>
                        </span>&nbsp;
                            <span id="cant_ll">{{ llamadas_hoy|length }}</span>
                        </li>
                        <li class="list-group-item text-right" id="cant_usu">
                        <span class="pull-left">
                            <strong><i class="fa fa-user"></i>Usuarios</strong></span>&nbsp;
                            {{ usuario_conectado|length }}
                        </li>
                        <li class="list-group-item text-right">
                        <span class="pull-left">
                            <strong><i class="fas fa-sort-numeric-down-alt"></i> Restantes</strong>
                        </span>&nbsp;
                            <span id="llam_res"></span>
                        </li>
                        <li class="list-group-item text-right">
                        <span class="pull-left">
                            <strong><i class="far fa-hand-pointer"></i> Seleccionado</strong>
                        </span>&nbsp;
                            <span id="conteo"></span>
                        </li>
                        <li class="list-group-item text-right">
                        <span class="pull-left">
                            <strong><i class="fas fa-divide"></i> Division</strong>
                        </span>&nbsp;
                            <span id="division">
                        </span>
                        </li>
                        <a id="nea" href="{% url 'archivo:asignar' %}" hidden></a>
                    </ul>
                    <div class="d-flex justify-content-center mt-5">
                        <button class="btn btn-two" id="clickes"><i class="fas fa-paper-plane"></i> Enviar</button>

                    </div>
                </div>
                <div class="col-sm">
                    <div class="col">
                        <div id="demo" onmouseup="unaFuncion()" class="row">
                            <div class="col-lg">
                                <div class="wrapper">
                                    <div id="wrapper">
                                        <div id="container">
                                            {% for llamada in llamadas_hoy %}
                                                <div class="box">
                                                    <span class="nota"
                                                          style="font-size: 60%">{{ llamada.texto_breve_material }}</span>
                                                    <p hidden>{{ llamada.id }}</p>
                                                </div>
                                            {% empty %}
                                                <div class="d-flex justify-content-center">
                                                    <div class="alert alert-info" role="alert">
                                                        <span class="glyphicon glyphicon-exclamation-sign"></span> No
                                                        hay llamadas para repartir!
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        s</div>
                    </div>
                </div>
                <div class="col">
                    {% include 'base/components/tablaUserConect.html' %}
                </div>
            </div>
        </div>
        <button class="openbtn" onclick="openNav()"><i class="fa fa-user"></i>Usuarios en linea
        </button>

    </div>







    <!-- Footer -->
    <div class="hk-footer-wrap container">
        <footer class="footer">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <p>Creado por<a href="https://hencework.com/" class="text-dark" target="_blank">La Gerencia</a>
                        © 2019</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <p class="d-inline-block">Follow us</p>
                    <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span
                            class="btn-icon-wrap"><i class="fa fa-facebook"></i></span></a>
                    <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span
                            class="btn-icon-wrap"><i class="fa fa-twitter"></i></span></a>
                    <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span
                            class="btn-icon-wrap"><i class="fa fa-google-plus"></i></span></a>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}
{% block scripts %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'dist/js/selectable/selectable.js' %}"></script>

    <script src="{% static 'dist/js/codigo.js' %}"></script>
    <script src="{% static 'dist/js/code.js' %}"></script>

    <script>
        var urlAsignar = document.getElementById('nea').getAttribute('href');
        var aux = document.location.href.substr(0, 21);
        var urlCompleta = aux + urlAsignar;

    </script>
{% endblock %}
