{% load static %}

<nav class="navbar navbar-expand-xl navbar-dark   fixed-top hk-navbar" style="background-color:#36876a">
    <a id="navbar_toggle_btn" class="navbar-toggle-btn nav-link-hover" href="javascript:void(0);"><i
            class="ion ion-ios-menu"></i>
    </a>
    {% if user.is_staff %}

        <a class="navbar-brand" href="">
            Coordinador</i>
        </a>
    {% else %}
        <a class="navbar-brand" href="">
            Operador</i>
        </a>

    {% endif %}
    <ul class="navbar-nav hk-navbar-content">

        <li class="nav-item dropdown dropdown-notifications">
            <a class="nav-link dropdown-toggle no-caret" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><i class="ion ion-ios-notifications"></i><span
                    class="badge-wrap"><span
                    class="badge badge-primary badge-indicator badge-indicator-sm badge-pill pulse"></span></span></a>
            <div class="dropdown-menu dropdown-menu-right" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                <h6 class="dropdown-header">Notificaciones <a href="javascript:void(0);" class="">Ver todas</a></h6>
                <div class="notifications-nicescroll-bar">
                    <a href="javascript:void(0);" class="dropdown-item">
                        <div class="media">
                            <div class="media-img-wrap">
                                <div class="avatar avatar-sm">
                                    <img src="{% static '/dist/img/avatar3.jpg' %}" alt=""
                                         class="avatar-img rounded-circle">
                                </div>
                            </div>
                            <div class="media-body">
                                <div>
                                    <div class="notifications-text"><span
                                            class="text-dark text-capitalize">Doris Serna</span>
                                        Las llamadas han sido entregadas con exito
                                    </div>
                                    <div class="notifications-time">Ahora</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <div class="media">
                            <div class="media-img-wrap">
                                <div class="avatar avatar-sm">
                                    <img src="{% static '/dist/img/avatar2.jpg' %}" alt="user"
                                         class="avatar-img rounded-circle">
                                </div>
                            </div>
                            <div class="media-body">
                                <div>
                                    <div class="notifications-text">Tienes un nuevo mensaje <span
                                            class="text-dark text-capitalize">Holiiiii</span></div>
                                    <div class="notifications-time">1h</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <div class="media">
                            <div class="media-img-wrap">
                                <div class="avatar avatar-sm">
                                            <span class="avatar-text avatar-text-primary rounded-circle">
													<span class="initial-wrap"><span><i
                                                            class="zmdi zmdi-account font-18"></i></span></span>
                                            </span>
                                </div>
                            </div>
                            <div class="media-body">
                                <div>
                                    <div class="notifications-text">Llamadas recibidas<span
                                            class="text-dark text-capitalize">Alguno de tus operadores ha terminado sus llamadas</span>
                                        on <span class="text-dark text-capitalize">friday, dec 19</span> at <span
                                                class="text-dark">10.00 am</span></div>
                                    <div class="notifications-time">2d</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <div class="media">
                            <div class="media-img-wrap">
                                <div class="avatar avatar-sm">
                                            <span class="avatar-text avatar-text-success rounded-circle">
													<span class="initial-wrap"><span>A</span></span>
                                            </span>
                                </div>
                            </div>
                            <div class="media-body">
                                <div>
                                    <div class="notifications-text">Application of <span
                                            class="text-dark text-capitalize">Sarah Williams</span> is waiting for
                                        your approval
                                    </div>
                                    <div class="notifications-time">1w</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <div class="media">
                            <div class="media-img-wrap">
                                <div class="avatar avatar-sm">
                                            <span class="avatar-text avatar-text-warning rounded-circle">
													<span class="initial-wrap"><span><i
                                                            class="zmdi zmdi-notifications font-18"></i></span></span>
                                            </span>
                                </div>
                            </div>
                            <div class="media-body">
                                <div>
                                    <div class="notifications-text">Last 2 days left for the project</div>
                                    <div class="notifications-time">15d</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown dropdown-authentication">
            <a class="nav-link dropdown-toggle no-caret" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <div class="media">
                    <div id="boton-conexion" class="media-img-wrap">
                        <div class="avatar">
                            {% if user.perfil.foto %}


                                <img src="{{ user.perfil.foto }}" alt="user"
                                     class="avatar-img rounded-circle">
                            {% else %}
                                <img src="{% static 'dist/img/avatar1.jpg' %}" alt="user"
                                     class="avatar-img rounded-circle">
                            {% endif %}


                        </div>
                        <div id="punto-conexion">
                            {% if request.user.perfil.conexion.estado %}
                                <span id="punt" class="badge badge-success badge-indicator"></span>
                            {% else %}
                                <span id="punt" class="badge badge-danger badge-indicator"></span>
                            {% endif %}
                        </div>

                    </div>
                    <div class="media-body">
                        {% if user.is_authenticated %}
                            <span>{{ user.get_username }}<i class="zmdi zmdi-chevron-down"></i></span>
                        {% else %}
                            <span>nnn<i class="zmdi zmdi-chevron-down"></i></span>
                        {% endif %}
                    </div>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
                <a id="oelo" class="dropdown-item" href="{% url 'usuario:perfil' %}"><i
                        class="dropdown-icon zmdi zmdi-account"></i><span>Perfil</span></a>


                <a class="dropdown-item" href="#"><i
                        class="dropdown-icon zmdi zmdi-settings"></i><span>Configuracion</span></a>
                <div class="dropdown-divider"></div>
                {% if request.user.perfil.conexion.estado %}
                    <div id="conectado" class="sub-dropdown-menu show-on-hover">

                        <a href="#" class="dropdown-toggle dropdown-item no-caret"><i
                                class="zmdi zmdi-check text-success"></i>Conectado</a>
                        <div class="dropdown-menu open-left-side">
                            <a id="btn-conexion" class="dropdown-item" href="#">
                                <i class="dropdown-icon zmdi zmdi-minus-circle-outline text-danger"></i>
                                <span>No Conectado</span></a>
                            <input id="estado-a-cambiar" type="hidden" value="False">
                        </div>
                    </div>
                {% else %}
                    <div id="no-conectado" class="sub-dropdown-menu show-on-hover">
                        <a href="#" class="dropdown-toggle dropdown-item no-caret"><i
                                class="zmdi zmdi-check text-danger"></i>No Conectado</a>
                        <div class="dropdown-menu open-left-side">
                            <a id="btn-conexion" class="dropdown-item" href="#"><i
                                    class="dropdown-icon zmdi zmdi-check text-success"></i><span>Conectado</span></a>
                            <input id="estado-a-cambiar" type="hidden" value="True">
                        </div>
                    </div>
                {% endif %}
                <div class="dropdown-divider"></div>
                {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'usuario:logout' %}"><i
                            class="dropdown-icon zmdi zmdi-power"></i><span>Cerrar Sesíon</span></a>
                {% else %}

                {% endif %}
            </div>
        </li>
    </ul>
</nav>
oelo
<form role="search" class="navbar-search">
    <div class="position-relative">
        <a href="javascript:void(0);" class="navbar-search-icon"><i class="ion ion-ios-search"></i></a>
        <input type="text" name="example-input1-group2" class="form-control" placeholder="Type here to Search">
        <a id="navbar_search_close" class="navbar-search-close" href="#"><i class="ion ion-ios-close"></i></a>
    </div>
</form>
