<script type="text/javascript">
    function conectado() {
        return `<div id="conectado" class="sub-dropdown-menu show-on-hover">
                        <a href="#" class="dropdown-toggle dropdown-item no-caret"><i
                                class="zmdi zmdi-check text-success"></i>Conectado</a>
                        <div class="dropdown-menu open-left-side">
                            <a id="btn-conexion" class="dropdown-item" onclick="no_conexionsoski()">
                                <i class="dropdown-icon zmdi zmdi-minus-circle-outline text-danger"></i>
                                <span>No Conectado</span></a>
                            <input id="estado-a-cambiar" type="hidden" value="False">
                        </div>
                    </div>`
    }

    function no_conectado() {
        return `<div id="no-conectado" class="sub-dropdown-menu show-on-hover">
                            <a href="#" class="dropdown-toggle dropdown-item no-caret"><i
                                    class="zmdi zmdi-check text-danger"></i>No Conectado</a>
                            <div class="dropdown-menu open-left-side">
                                <a id="btn-conexion" class="dropdown-item" onclick="conexionsoski()"><i
                                        class="dropdown-icon zmdi zmdi-check text-success"></i><span>Conectado</span></a>
                                <input id="estado-a-cambiar" type="hidden" value="True">
                            </div>
                        </div>`
    }

    function conexionsoski() {
        console.log("oelo");
        $.get('{% url "usuario:conexion" %}', function (data) {
            document.getElementById("punt").className = "badge badge-success badge-indicator";
            document.getElementById("conexionsita").innerHTML = conectado();
        });
    }

    function no_conexionsoski() {
        console.log("oelo");
        $.get('{% url "usuario:desconexion" %}', function (data) {
            document.getElementById("punt").className = "badge badge-danger badge-indicator";
            document.getElementById("conexionsita").innerHTML = no_conectado();
        });
    }


</script>