{% load static %}
<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- Slimscroll JavaScript -->
<script src="{% static 'dist/js/jquery.slimscroll.js' %}"></script>
<!-- Fancy Dropdown JS -->
<script src="{% static 'dist/js/dropdown-bootstrap-extended.js' %}"></script>
<!-- FeatherIcons JavaScript -->
<script src="{% static 'dist/js/feather.min.js' %}"></script>
<!-- Toggles JavaScript -->
<script src="{% static 'vendors/jquery-toggles/toggles.min.js' %}"></script>
<script src="{% static 'dist/js/toggle-data.js' %}"></script>
<!-- Counter Animation JavaScript -->
<script src="{% static 'vendors/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'vendors/jquery.counterup/jquery.counterup.min.js' %}"></script>
<!-- Vector Maps JavaScript -->
<script src="{% static 'vendors/vectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
<script src="{% static 'vendors/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'vendors/vectormap/jquery-jvectormap-de-merc.js' %}"></script>
<script src="{% static 'dist/js/vectormap-data.js' %}"></script>
<!-- Owl JavaScript -->
<script src="{% static 'vendors/owl.carousel/dist/owl.carousel.min.js' %}"></script>

<!---tablas--->
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'dist/js/dataTables-data.js' %}"></script>
<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-dt/js/dataTables.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
<!-- Toastr JS -->

<!-- Apex JavaScript -->
<!-- Tablesaw JavaScript -->
<script src="{% static 'vendors/tablesaw/dist/tablesaw.jquery.js' %}"></script>
<script src="{% static 'dist/js/tablesaw-data.js' %}"></script>

<script src="{% static 'vendors/apexcharts/dist/apexcharts.min.js' %}"></script>
<script src="{% static 'dist/js/irregular-data-series.js' %}"></script>
<!-- Init JavaScript -->
<script src="{% static 'dist/js/init.js' %}"></script>
<script src="{% static 'dist/js/dashboard-data.js' %}"></script>

<!--Validaciones JS -->
<script src="{% static 'dist/js/validaciones.js' %}"></script>
<!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<!---Font awesome---->
<script src="https://kit.fontawesome.com/c7e6a57cdf.js" crossorigin="anonymous"></script>

<!--File import excel-->
<script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<script type="text/javascript"
        src="http://cdn-na.infragistics.com/igniteui/2019.2/latest/js/infragistics.core.js"></script>
<script type="text/javascript"
        src="http://cdn-na.infragistics.com/igniteui/2019.2/latest/js/infragistics.lob.js"></script>

<script type="text/javascript"
        src="http://cdn-na.infragistics.com/igniteui/2019.2/latest/js/modules/infragistics.ext_core.js"></script>
<script type="text/javascript"
        src="http://cdn-na.infragistics.com/igniteui/2019.2/latest/js/modules/infragistics.ext_collections.js"></script>
<script type="text/javascript"
        src="http://cdn-na.infragistics.com/igniteui/2019.2/latest/js/modules/infragistics.ext_text.js"></script>
<script type="text/javascript"
        src="http://cdn-na.infragistics.com/igniteui/2019.2/latest/js/modules/infragistics.ext_io.js"></script>
<script type="text/javascript"
        src="http://cdn-na.infragistics.com/igniteui/2019.2/latest/js/modules/infragistics.ext_ui.js"></script>
<script type="text/javascript"
        src="http://cdn-na.infragistics.com/igniteui/2019.2/latest/js/modules/infragistics.documents.core_core.js"></script>
<script type="text/javascript"
        src="http://cdn-na.infragistics.com/igniteui/2019.2/latest/js/modules/infragistics.ext_collectionsextended.js"></script>
<script type="text/javascript"
        src="http://cdn-na.infragistics.com/igniteui/2019.2/latest/js/modules/infragistics.excel_core.js"></script>
<script type="text/javascript"
        src="http://cdn-na.infragistics.com/igniteui/2019.2/latest/js/modules/infragistics.ext_threading.js"></script>
<script type="text/javascript"
        src="http://cdn-na.infragistics.com/igniteui/2019.2/latest/js/modules/infragistics.ext_web.js"></script>
<script type="text/javascript"
        src="http://cdn-na.infragistics.com/igniteui/2019.2/latest/js/modules/infragistics.xml.js"></script>
<script type="text/javascript"
        src="http://cdn-na.infragistics.com/igniteui/2019.2/latest/js/modules/infragistics.documents.core_openxml.js"></script>
<script type="text/javascript"
        src="http://cdn-na.infragistics.com/igniteui/2019.2/latest/js/modules/infragistics.excel_serialization_openxml.js"></script>
<script src="{% static "dist/js/excel_upload.js" %}"></script>