{% load static %}
<script src="{% static 'dist/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'dist/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- Slimscroll JavaScript -->
<script src="{% static 'dist/js/jquery.slimscroll.js' %}"></script>
<!-- Fancy Dropdown JS -->
<script src="{% static 'dist/js/dropdown-bootstrap-extended.js' %}"></script>
<!-- FeatherIcons JavaScript -->
<script src="{% static 'dist/js/feather.min.js' %}"></script>
<!-- Toggles JavaScript -->
<script src="{% static 'vendors/jquery-toggles/toggles.min.js' %}"></script>
<script src="{% static 'dist/js/toggle-data.js' %}"></script>
<!-- Counter Animation JavaScript -->

<script src="{% static 'vendors/jquery.counterup/jquery.counterup.min.js' %}"></script>
<!-- Vector Maps JavaScript -->
<script src="{% static 'vendors/vectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
<script src="{% static 'vendors/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'vendors/vectormap/jquery-jvectormap-de-merc.js' %}"></script>
<script src="{% static 'dist/js/vectormap-data.js' %}"></script>
<!-- Owl JavaScript -->
<script src="{% static 'vendors/owl.carousel/dist/owl.carousel.min.js' %}"></script>


<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-dt/js/dataTables.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>


<script src="{% static 'vendors/apexcharts/dist/apexcharts.min.js' %}"></script>
<script src="{% static 'dist/js/irregular-data-series.js' %}"></script>
<!-- Init JavaScript -->
<script src="{% static 'dist/js/init.js' %}"></script>


<!--Validaciones JS -->
<script src="{% static 'dist/js/validaciones.js' %}"></script>
<!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


<!---Font awesome---->
<script src="https://kit.fontawesome.com/c7e6a57cdf.js" crossorigin="anonymous"></script>

<!--Calendar -->

<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>

<!--File import excel-->

<script src="{% static "dist/js/excel_upload.js" %}"></script>
