<script type="text/javascript">

    $('#no-conectado').on('click', '#btn-conexion', function () {
        //var name = $('#name-student').val();

        $.get('{% url "usuario:conexion" %}', function (data) {
            console.log(1)
            document.getElementById("punt").className = "badge badge-success badge-indicator";
            document.getElementById("no-conectado").id = "conectado";
        });
    });


    $('#conectado').on('click', '#btn-conexion', function () {
        //var name = $('#name-student').val();

        $.get('{% url "usuario:desconexion" %}', function (data) {
            console.log(1)
            document.getElementById("punt").className = "badge badge-danger badge-indicator";
            document.getElementById("conectado").id = "no-conectado";
            document.getElementById("no-conectado").innerHTML = `<a href="#" class="dropdown-toggle dropdown-item no-caret"><i class="zmdi zmdi-check text-success"></i>Conectado</a>
<div class="dropdown-menu open-left-side"><a id="btn-conexion" class="dropdown-item" href="#">
    <i class="dropdown-icon zmdi zmdi-minus-circle-outline text-danger"></i>
    <span>No Conectado</span>
</a>
    <input id="estado-a-cambiar" type="hidden" value="False">
</div>`;


        });
    });


</script>