<div id="mySidepanel" class="sidepanel">
    <a class="title-sidebar" style="color: #FFFFFF"><i class="fas fa-user-friends"></i> En linea
        <button class="btn btn-" id="cerrar" onclick="closeNav()">&times;</button>
    </a>
    <a>{% for usuario in usuario_conectado %}

        <ul>
            <li>
                <div id="hablalo" class="chat_people" style="cursor:pointer;">

                    <p hidden>{{ usuario.pk }}</p>
                    <div class="chat_ib">
                        <h5><span class="green led"></span>&nbsp;{{ usuario.usuario.get_username }} </h5>
                    </div>
                </div>
            </li>
        </ul>
    {% empty %}
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span> No
            No hay usuarios en linea!
        </div>

    {% endfor %}
    </a>
</div>

<script>
    function openNav() {
        document.getElementById("mySidepanel").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidepanel").style.width = "0";
    }
</script>
