{% extends 'base/base.html' %}


{% load crispy_forms_tags %}

{% block main %}
    <br>
    <br>
    <br>

    <div class="container text-center mx-auto">
        <form method="post">
            {% csrf_token %}


            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.usuario|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.cedula|as_crispy_field }}
                </div>
            </div>
            {{ form.telefono_fijo|as_crispy_field }}
            {{ form.celular|as_crispy_field }}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.foto|as_crispy_field }}
                </div>
            </div>
            {{ form.celular_telemercadeo|as_crispy_field }}
            <button type="submit" class="btn btn-primary">Sign in</button>


        </form>
    </div>
{% endblock %}






