<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Modificar: {{ foo.pk }} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">x</button>
        <button type="button" class="btn btn-" style="background-color: #36876a;color: #fff1f1">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
</div>
