{% extends 'base/base.html' %}
{% load notifications_tags %}
{% load static %}
{% block title %}
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
    <title>Lista de usuarios</title>
    <script src="{% static 'dist/jquery/dist/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dist/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/notifications.css' %}">
    <script src="{% static 'dist/notifications.js' %}"></script>
{% endblock %}
{% block main %}
    <!-- Container -->
    <div class="container mt-3">

        <div class="row">
            <div class="col-xl-12">
                <section class="hk-sec-wrapper">
                    <h3 class="hk-pg-title">
                        <span class="glyphicon glyphicon-user"></span>Usuarios
                        <button type="button" class="btn btn"
                                style="background-color: #36876a; color: #fff4f0;margin-left: 85%"
                                data-toggle="modal"
                                data-target=".bd-example-modal-lg"><i
                                class="fas fa-user-plus"></i> Nuevo
                        </button>

                    </h3>
                    <div class="row">
                        <div class="col-xl-12">
                            <hr>
                            <div class="row">
                                <div class="col-sm">

                                    {% if object_list %}
                                        <table id="table_id" class="table table-hover"
                                               style="width:100%">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th>Estado</th>
                                                <th>Usuario</th>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                                <th>Cedula</th>
                                                <th>Fijo</th>
                                                <th>Celular</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if object_list %}
                                                {% for foo in object_list %}
                                                    <tr id="fila-{{ foo.pk }}">
                                                        <td id="estado">
                                                            <div id="activado">
                                                                {% if foo.usuario.is_active %}

                                                                    <span class="badge badge-pill badge-success">Activo</span>

                                                                {% else %}

                                                                    <span class="badge badge-pill badge-danger">Inactivo</span>

                                                                {% endif %}
                                                            </div>
                                                        </td>
                                                        <td>{{ foo.usuario }}</td>
                                                        <td class="userNombre userData"
                                                            name="nombre">{{ foo.usuario.first_name }}</td>
                                                        <td class="userApellido userData"
                                                            name="apellido">{{ foo.usuario.last_name }}</td>
                                                        <td class="userCedula userData"
                                                            name="cedula">{{ foo.cedula }}</td>
                                                        <td class="userTelefono userData"
                                                            name="telefono">{{ foo.telefono_fijo }}</td>
                                                        <td class="userTele userData"
                                                            name="tele">{{ foo.celular_telemercadeo }}</td>
                                                        <td>
                                                            <div id="colum-{{ foo.pk }}">

                                                                {% if foo.usuario == request.user %}
                                                                    <p><i class="fas fa-users-cog"></i>Coordinador
                                                                    </p>

                                                                {% else %}
                                                                    <div id="fila-{{ foo.pk }}">
                                                                    {% if foo.usuario.is_active %}

                                                                        <button type="submit"
                                                                                class="btn btn-danger "
                                                                                onclick="Inhabilitar({{ foo.pk }})">
                                                                            <i class="fas fa-power-off"></i>
                                                                        </button>

                                                                        <button
                                                                                class="btn btn-dark"
                                                                                onclick="Editar({{ foo.pk }}),open_modal()">
                                                                            <i class="fa fa-pencil"></i>
                                                                        </button>
                                                                    {% else %}
                                                                        <button id="btn-{{ foor.pk }}" type="submit"
                                                                                class="btn btn"
                                                                                style="background-color: #36876a"
                                                                                onclick="Inhabilitar({{ foo.pk }})">
                                                                            <i
                                                                                    style="color: #fff1f1"
                                                                                    class="fas fa-power-off"></i>
                                                                        </button>
                                                                    {% endif %}
                                                                {% endif %}
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <div class="alert alert-info" role="alert">
                                            No hay tienes usuarios registrados
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- /Container -->
    <div style="box-shadow: inset 0 0 20px #36876a" id="mymodal" class="modal fade bd-example-modal-lg" tabindex="-1"
         role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            {% include 'users/creacion_perfil.html' %}
        </div>
    </div>

    <!--Aca empieza el modal del modificar -->
    <div class="modal fade" id="modal_modificar"> {% include 'users/modificar_perfil.html' %}</div>

    <!-- Footer -->
    <div class="hk-footer-wrap container">
    <footer class="footer">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p>Creado por<a href="" class="text-dark" target="_blank">La Gerencia</a>
                    © 2019</p>
            </div>

        </div>
    </footer>

    {% block javascript %}
        <script>
            const successNotification = window.createNotification({
                theme: 'success',
                showDuration: 5000
            });

            const ErrorNotification = window.createNotification({
                theme: 'error',
                showDuration: 5000
            });
            let password = document.getElementById('validationTooltip04');
            let password_confirmation = document.getElementById('validationTooltip05');

            $(document).ready(function () {
                $('#table_id').DataTable({

                    ordering: true,
                    searching: true,
                    info: false,

                });
            });

            function Inhabilitar(id) {
                $.ajax({
                    url: '{% url "usuario:desactivar" %}',
                    data: {
                        'id': id,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.desactive) {
                            $("#colum-" + id).html(`<button" type="submit"class="btn btn" style="background-color: #36876a" style="color: #fff1f1" onclick="Inhabilitar(${id})"><i class="fas fa-power-off"></i></button>`);
                            $("#activado").html(`<span class="badge badge-pill badge-danger">Inactivo</span>`);
                            Swal.fire(
                                'Bien !',
                                'Usuario inhabilitado',
                                'success'
                            );
                        }
                        if (!data.desactive) {
                            $("#colum-" + id).html(`<button type="submit" class="btn btn-danger"  onclick="Inhabilitar(${id})"><i class="fas fa-power-off"></i></button>
                                                        <button type="submit" class="btn btn-dark"><i class="fa fa-pencil"></i></button>`);
                            $("#activado").html(`<span class="badge badge-pill badge-success">Activo</span>`);
                            Swal.fire(
                                'Bien !',
                                'Usuario habilitado',
                                'success'
                            );
                        }
                    }
                });
            }

            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                ErrorNotification({
                                    message: 'Las contraseñas no coinciden!'

                                })
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();

            $(document).ready(function () {
                var $formulario = $('#insert');
                $formulario.submit(function (event) {
                    event.preventDefault();
                    var $datos = $formulario.serialize();

                    $.ajax({
                        url: '{% url "usuario:signup"%}',
                        method: "POST",
                        data: $datos,
                        success: function (data) {
                            if (data.estado) {
                                Agregar(data.person);
                                Exito();
                            } else
                                Error();
                        },
                    });

                    function Agregar(user) {
                        $("#table_id > tbody:last-child").append(`<tr id="user-${user.id}">
                               <td name="activo"><span class="badge badge-pill badge-success">Activo</span></td>
                                <td name="name">${user.name}</td>
                                <td name="last">${user.apellido}</td>
                                <td name="cedula">0</td>
                                <td name="telefono_fijo">${user.telefono_fijo}</td>
                                <td name="celular">${user.celular}</td>
                                <td><button type="submit" class="btn btn-dark"><i class="fa fa-pencil"></i></button></td>
                                <td><button type="submit" class="btn btn-danger" onclick="Inhabilitar((${user.id})"><i class="fas fa-power-off"></i></button></td>
                                </tr>`);
                    }

                    function Exito() {
                        Swal.fire(
                            'Bien !',
                            'Exitoso',
                            'success'
                        );
                        $('#mymodal').modal('hide');
                    }

                    (function () {

                        if (password_confirmation !== "" && password !== "") {

                            document.getElementById('Prism').innerHTML = "ingrese la contraseña";
                            document.getElementById('Prism2').innerHTML = "ingrese la contraseña";
                        }

                    })();


                    function Error() {

                        if (password != password_confirmation) {

                            ErrorNotification({
                                message: 'Las contraseñas no coinciden!'
                            });

                            return false;
                        } else {
                            return true;
                        }
                    }

                });
            })
            ;


            function soloLetras(e) {
                key = e.keyCode || e.which;
                tecla = String.fromCharCode(key).toLowerCase();
                letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
                especiales = "8-37-39-46";

                tecla_especial = false
                for (var i in especiales) {
                    if (key == especiales[i]) {
                        tecla_especial = true;
                        break;
                    }
                }

                if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                    ErrorNotification({
                        message: 'Solo se permiten letras!'
                    });

                    return false;
                } else {
                    document.getElementById('respuesta').innerHTML = "";
                }
            }


            function open_modal() {
                $("#modal_modificar").modal('show');
            }

            $("form#update").submit(function () {
                event.preventDefault();
                var id = $('input[name="formId"]').val().trim();
                var nombre = $('input[name="formNombre"]').val().trim();
                var apellido = $('input[name="formApellido"]').val().trim();
                var cedula = $('input[name="formCedula"]').val().trim();
                var telemercadeo = $('input[name="formTele"]').val().trim();
                var telefono = $('input[name="formTelefono"]').val().trim();

                if (nombre && apellido && cedula && telefono && telemercadeo) {
                    $.ajax({
                        url: '{% url "usuario:actualizar" %}',
                        method: 'get',
                        data: {
                            'id': id,
                            'nombre': nombre,
                            'apellido': apellido,
                            'cedula': cedula,
                            'tele': telemercadeo,
                            'telefono': telefono
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.user) {
                                Swal.fire(
                                    'Bien !',
                                    'Modificacion exitosa¡',
                                    'success'
                                );

                                tableUpdate(data.user);
                            } else {
                                ErrorNotification({
                                    message: 'Todos los campos son obligatorios!'
                                });
                            }
                            $('#modal_modificar').modal('hide');
                            return false;
                        }
                    });
                } else {
                    Correcto();
                }
            });

            function Correcto() {
                ErrorNotification({
                    message: 'Todos los campos son obligatorios!'
                });
            }

            function Editar(id) {
                if (id) {
                    tr_id = "#fila-" + id;
                    nombres = $(tr_id).find(".userNombre").text();
                    apellidos = $(tr_id).find(".userApellido").text();
                    cedulas = $(tr_id).find(".userCedula").text();
                    telefonos = $(tr_id).find(".userTelefono").text();
                    teles = $(tr_id).find(".userTele").text();
                    $('#form-id').val(id);
                    $('#form-apellido').val(apellidos);
                    $('#form-nombre').val(nombres);
                    $('#form-cedula').val(cedulas);
                    $('#form-telefono').val(telefonos);
                    $('#form-tele').val(teles);
                }
            }

            function tableUpdate(user) {
                $("#table_id #fila-" + user.id).children(".userData").each(function () {
                    var atributos = $(this).attr("name");

                    if (atributos === "nombre") {
                        $(this).text(user.nombre);
                    } else if (atributos === "apellido") {
                        $(this).text(user.apellido);
                    } else if (atributos === "telefono") {
                        $(this).text(user.telefono);
                    } else if (atributos === "cedula") {
                        $(this).text(user.cedula);
                    } else {
                        $(this).text(user.tele);
                    }

                });
            }

        </script>
    {% endblock %}


{% endblock %}
</div>



