{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
    <title>Lista de usuarios</title>
{% endblock %}
{% block main %}


    <!-- Container -->
    <div class="container">

        <!-- Title -->
        <div class="hk-pg-header">
            <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i
                    data-feather="user"></i></span></span>Usuarios</h4>
        </div>
        <!-- /Title -->

        <div class="row">
            <div class="col-xl-12">
                <section class="hk-sec-wrapper">
                    <h5 class="hk-sec-title"></h5>

                    <div class="row">
                        <div class="col-xl-12">

                            <section class="hk-sec-wrapper">
                                <h5 class="hk-sec-title">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target=".bd-example-modal-lg"><i
                                            class="fas fa-user-plus"></i></button>
                                    Operadores

                                </h5>


                                <div class="row">
                                    <div class="col-sm">


                                        <div class="table-wrap">

                                            <table id="table_id" class="table table-striped">

                                                <thead>
                                                <tr>

                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-priority="persist">
                                                        Estado
                                                    </th>
                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-priority="persist">
                                                        Usuario
                                                    </th>
                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-sortable-default-col
                                                        data-tablesaw-priority="3">Cedula
                                                    </th>
                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-priority="2">
                                                        Nombres
                                                    </th>
                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-priority="1"
                                                        title="Rotten Tomato Rating">Apellido
                                                    </th>
                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-priority="4">
                                                        Telefono fijo
                                                    </th>
                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-priority="4">
                                                        Celular Telemercadeo
                                                    </th>
                                                    <th scope="col" data-tablesaw-sortable-col
                                                        data-tablesaw-priority="4">
                                                        Acciones
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if object_list %}
                                                    {% for foo in object_list %}


                                                        <tr>
                                                            {% if foo.usuario.is_active %}
                                                                <td><span
                                                                        class="badge badge-pill badge-success">Activo</span>
                                                                </td>
                                                            {% else %}
                                                                <td><span
                                                                        class="badge badge-pill badge-danger">Inactivo</span>
                                                                </td>
                                                            {% endif %}

                                                            <td>{{ foo.usuario }}</td>
                                                            <td>{{ foo.cedula }}</td>
                                                            <td>{{ foo.usuario.first_name }}</td>
                                                            <td>{{ foo.usuario.last_name }}</td>
                                                            <td>{{ foo.telefono_fijo }}</td>
                                                            <td>{{ foo.celular_telemercadeo }}</td>
                                                            <td>


                                                                {% if foo.usuario == request.user %}
                                                                    <a href=""
                                                                       data-toggle="tooltip"
                                                                       data-original-title="Close"> <i
                                                                            class=""></i> </a>

                                                                {% else %}

                                                                    <form id="Disabled"
                                                                          action="{% url 'usuario:desactivar' %}"
                                                                          method="POST">

                                                                        {% csrf_token %}

                                                                        <input id="user" name="user" type="hidden"
                                                                               value="{{ foo.usuario.pk }}">


                                                                        {% if foo.usuario.is_active %}
                                                                            <button type="submit"
                                                                                    class="btn btn-danger "><i
                                                                                    class="fas fa-power-off"></i>
                                                                            </button>

                                                                            </button>

                                                                            <button type="submit"
                                                                                    class="btn btn-dark"
                                                                            ><i
                                                                                    class="fa fa-pencil"></i>
                                                                            </button>

                                                                        {% else %}
                                                                            <button type="submit"
                                                                                    class="btn btn"
                                                                                    style="background-color: #36876a">
                                                                                <i style="color: #fff1f1"
                                                                                   class="fas fa-power-off"></i>
                                                                            </button>

                                                                        {% endif %}
                                                                    </form>
                                                                {% endif %}

                                                                &nbsp;

                                                            </td>


                                                        </tr>

                                                        </tbody>
                                                    {% endfor %}
                                                    </table>


                                                {% else %}
                                                    <h1>NO HAY DATOS PARA MOSTRAR</h1>
                                                {% endif %}

                                            {% if error %}
                                                <h1>{{ error }}</h1>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- /Container -->
    <div style="box-shadow: inset 0 0 20px #36876a" class="modal fade bd-example-modal-lg" tabindex="-1"
         role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="border-color:  #36876a">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-user"></i> Registro de usuario</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="container-fluid">

                    <div class="container">

                        <form id="insert" class="needs-validation"
                              novalidate
                              autocomplete="off" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltip01">Nombres</label>
                                    {{ form.first_name }}
                                    <div class="valid-tooltip">
                                        Bien hecho!
                                    </div>
                                    <div class="invalid-tooltip">
                                        Ingrese el nombre
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltip02">Apellidos</label>
                                    {# INPUT #}
                                    {{ form.last_name }}
                                    <div class="valid-tooltip">
                                        Bien hecho!
                                    </div>
                                    <div class="invalid-tooltip">
                                        Ingrese el apellido
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltipUsername">Email</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                      id="validationTooltipUsernamePrepend">@</span>
                                        </div>
                                        {# INPUT #}
                                        {{ form.email }}
                                        <div class="invalid-tooltip">
                                            Ingrese el email
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-3">
                                <div class="col-md-4 mb-3">
                                    <label for="validationTooltip03">Nombre de
                                        usuario</label>
                                    {# INPUT #}
                                    {{ form.username }}
                                    <div class="invalid-tooltip">
                                        Ingrese el nombre de usuario
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationTooltip04">Contraseña</label>
                                    {# INPUT #}
                                    {{ form.password }}
                                    <div class="invalid-tooltip">
                                        Contraseña minima de 8 caracteres
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationTooltip05">Confirmar
                                        contraseña</label>
                                    {{ form.password_confirmation }}
                                    <div class="invalid-tooltip">
                                        Las contraseñas no coinciden
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2 mt-4 ">
                                    <div class="form-group">
                                        <label for="Cargo">Tipo de usuario</label>
                                        {{ form.is_staff }}
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Enviar
                                </button>
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Cancelar
                                </button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="hk-footer-wrap container">
        <footer class="footer">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <p>Creado por<a href="" class="text-dark" target="_blank">La Gerencia</a>
                        © 2019</p>
                </div>

            </div>
        </footer>

        {% block javascript %}
            <script>
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    Swal.fire(
                                        'Error',
                                        'Por favor complete los campos',
                                        'error'
                                    )
                                    event.stopPropagation();
                                } else {

                                    Swal.fire(
                                        'Bien',
                                        'Registro Exitoso',
                                        'success'
                                    )

                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            </script>




        {% endblock %}
    </div>

    </div>

{% endblock %}
