{% load static %}
<head>
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
    <title>Configuracion</title>
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/notifications.css' %}">
</head>
<body>
{% block form %}
    <form method="POST" action="{% url 'usuario:perfil' %}" name="perfilform" id="perfilform"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container mt-2">
            <div class="card">
                <div class="card-title ml-2 mt-2">
                    <h3><i class="fas fa-user-cog"></i> {{ user }}
                        <a id="atras" href="{% url 'archivo:buzon' %}"
                           class="btn btn-info"
                           data-toggle="tooltip" data-placement="right" title="Regresar"><i class="fas fa-undo-alt"></i></a>
                    </h3>

                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3 "><!--left col-->
                        <div class="text-center" style="margin-left: 10px">
                            {% if perfil.foto %}
                                <img src="{{ perfil.foto.url }}" class="avatar img-circle img-thumbnail"
                                     alt="avatar">
                            {% else %}
                                <img src="{% static 'dist/img/avatar1.jpg' %}"
                                     class="rounded-circle" width="130px" height="130px"/>
                            {% endif %}

                            <div class="upload-btn-wrapper m-2">
                                <button class="btn-1">Subir foto</button>
                                <input type="file" value="{{ perfil.foto }}" style="width:180px" name="foto" id="foto">

                            </div>
                        </div>
                    </div><!--/col-3-->

                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group " id="document-form">
                                            <label for="cedula  ">Cedula</label>
                                            <input class="form-control"
                                                   id="cedula" name="cedula"
                                                   maxlength="10"
                                                   value="{{ perfil.cedula }}"
                                                   placeholder="Documento de identidad"
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="col">
                                            <label>Nombres</label>
                                            <input class="form-control"
                                                   readonly onmousedown="return false"
                                                   name="firts_name" id="firts_name"
                                                   maxlength="15"
                                                   required
                                                   value="{{ user.first_name }}"
                                                   type="text"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <label>Apellido</label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                name="last_name"
                                                placeholder="Apellidos"
                                                required
                                                readonly
                                                value="{{ user.last_name }}"/>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label>Celular </label>
                                            <div class="form-group">
                                                <input class="form-control"
                                                       name="celular" id="celular"
                                                       placeholder="Movil"
                                                       maxlength="15" minlength="8"
                                                       value="{{ perfil.celular }}"
                                                       type="text"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm">

                                        <div class="form-group">
                                            <label>Telefono fijo </label>
                                            <input class="form-control"
                                                   name="telefono_fijo" id="telefono_fijo"
                                                   placeholder="Telefono fijo"
                                                   value="{{ perfil.telefono_fijo }}"
                                                   required
                                                   type="text"/>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input
                                                    class="form-control"
                                                    type="text"
                                                    name="email"
                                                    placeholder=""
                                                    required
                                                    readonly
                                                    value="{{ user.email }}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label>Celular telemercadeo </label>
                                            <div class="form-group">
                                                <input class="form-control"
                                                       name="celular_telemercadeo" id="celular_telemercadeo"
                                                       maxlength="15" minlength="8"
                                                       placeholder="Movil telemercadeo"
                                                       type="text"
                                                       value="{{ perfil.celular_telemercadeo }}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-around mt-5">

                                    <img src="{% static 'dist/img/LogoSGT.png' %}" height="80" class="fixed-bottom">
                                    <button type="submit" class="btn btn-success">Guardar cambios</button>
                                    <a class="btn btn-dark" href="{% url 'usuario:cambio' %}">Cambiar contraseña</a>
                                    <span style="color: gray;font-size: 13px">Ultima modificacion {{ perfil.modified }}</span>

                                </div>
                                <hr>
                            </div>
    </form>

    <!--/tab-pane-->






{% endblock %}
</body>
{% block javascript %}

    <script src="{% static 'dist/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'dist/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'dist/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/notifications.js' %}"></script>
    <script src="https://kit.fontawesome.com/c7e6a57cdf.js" crossorigin="anonymous"></script>


    <script>
        const successNotification = window.createNotification({
            theme: 'success',
            showDuration: 5000
        });
        const ErrorNotification = window.createNotification({
            theme: 'error',
            showDuration: 5000
        });
        {% if form.errors %}
            {% for field in form %}
                {% if field.errors %}
                    ErrorNotification({
                        message: ' {{ field.label }}: {{ field.errors|striptags }}, {{ form.non_field_errors }}'
                    });
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                succcesNotification({
                    message: '{{ message }}'

                })

            {% endfor %}
        {% endif %}

        window.addEventListener('load', function () {
            document.querySelector('input[type="file"]').addEventListener('change', function () {

                if (this.files && this.files[0]) {
                    let img = document.querySelector('img');
                    img.src = URL.createObjectURL(this.files[0]);
                    successNotification({
                        message: 'Foto importada con exito!'
                    });

                }
            })
        });

        function setInputFilter(textbox, inputFilter) {
            ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
                textbox.addEventListener(event, function () {
                    if (inputFilter(this.value)) {
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;

                    } else if (this.hasOwnProperty("oldValue")) {
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    } else {
                        this.value = "";
                    }
                });
            });
        }


        setInputFilter(document.getElementById("telefono_fijo"), function (value) {
            return /^-?\d*[.,]?\d*$/.test(value);
        });
        setInputFilter(document.getElementById("cedula"), function (value) {
            return /^-?\d*[.,]?\d*$/.test(value);
        });
        setInputFilter(document.getElementById("celular"), function (value) {
            return /^-?\d*[.,]?\d*$/.test(value);
        });
        setInputFilter(document.getElementById("celular_telemercadeo"), function (value) {
            return /^-?\d*[.,]?\d*$/.test(value);
        });


    </script>
{% endblock %}
<style>

    body {
        background-image: url("{% static 'dist/img/Mojito.jpg' %}");
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;

    }

    .btn-1 {
        border: 2px solid gray;
        color: gray;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: bold;

    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;

    }

    .card {
        background: black;
        color: #FFFFFF;
        opacity: 0.9;
        border-color: #0b2e13;
        border-radius: 10px;
    }

    hr {
        border: 1px solid #fff1f1;
    }

    #atras {
        margin-left: 83%;
    }
</style>



