{% load static %}
{% load crispy_forms_tags %}

<head>
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
    <title>{{ user }}</title>
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
</head>

{% block form %}
    {% if request.user.is_anonymous %}
        <a class="btn btn-success mt-2" href="{% url 'usuario:login' %}"><i class="fas fa-arrow-left"></i></a>
    {% else %}
        &nbsp;<a class="btn btn-success mt-2 justify-content-center" href="{% url 'file:buzon' %}"><i
            class="fas fa-arrow-left"></i></a>
    {% endif %}
    <div class="container">
        <div class="card" style="border-radius: 20px">
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-user"></i> Complete los siguientes campos para continuar
                </h5>
                <hr>
                <form method="POST" action="{% url 'usuario:perfil' %}" name="perfilform" id="perfilform">
                    {% csrf_token %}
                    <div class="media">
                        <div class="media-body">
                            <div class="container">
                                <div class="form-group" id="const">


                                    <img src="{% static 'dist/img/avatar1.jpg' %}"
                                         class="rounded-circle" width="130px" height="130px"/>
                                    <input type="file" name="picture" id="picture">
                                </div>

                                <div class="row">
                                    <div class="col">

                                        <label>Nombres</label>

                                        <input class="form-control"
                                               readonly onmousedown="return false"
                                               name="firts_name" id="firts_name"
                                               maxlength="15"
                                               required
                                               value="{{ user.first_name }}"
                                               type="text"/>

                                    </div>
                                    <div class="col">

                                        <label>Apellido</label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                name="last_name"
                                                placeholder="Apellidos"
                                                required
                                                readonly
                                                value="{{ user.last_name }}"/>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mt-4">
                                        <label>Email</label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                name="email"
                                                placeholder=""
                                                required
                                                readonly
                                                value="{{ user.email }}"/>
                                    </div>
                                    <div class="col mt-4">
                                        <div class="form-group">
                                            <label>Telefono fijo </label>
                                            <input class="form-control"
                                                   name="telefono_fijo" id="telefono_fijo"
                                                   placeholder="Telefono fijo"
                                                   value="{{ perfil.telefono_fijo }}"
                                                   required
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="col mt-4">
                                        <div class="form-group">
                                            <label>Cedula </label>
                                            <div class="form-group" id="document-form">
                                                <input class="form-control"
                                                       id="cedula" name="cedula"
                                                       maxlength="10"
                                                       value="{{ perfil.cedula }}"
                                                       placeholder="Documento de identidad"
                                                       type="text"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label>Celular </label>
                                            <div class="form-group">
                                                <input class="form-control"
                                                       name="celular" id="celular"
                                                       placeholder="Movil"
                                                       maxlength="15" minlength="8"
                                                       value="{{ perfil.celular }}"
                                                       type="text"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label>Celular telemercadeo </label>
                                            <div class="form-group">
                                                <input class="form-control"
                                                       name="celular_telemercadeo" id="celular_telemercadeo"
                                                       maxlength="15" minlength="8"
                                                       placeholder="Movil telemercadeo"
                                                       type="text"
                                                       value="{{ perfil.celular_telemercadeo }}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <br>
                                <img src="{% static 'dist/img/LogoSGT.png' %}" height="80" class="fixed-bottom">
                                <button type="submit" class="btn btn-success">Guardar cambios</button>
                                <a class="btn btn-dark" href="{% url 'usuario:cambio' %}">Cambiar contraseña</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

    <script src="{% static 'dist/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'dist/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'dist/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/c7e6a57cdf.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>


        window.addEventListener('load', function () {
            document.querySelector('input[type="file"]').addEventListener('change', function () {

                if (this.files && this.files[0]) {
                    let img = document.querySelector('img');
                    img.src = URL.createObjectURL(this.files[0]);

                }
            })
        })


        function setInputFilter(textbox, inputFilter) {
            ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
                textbox.addEventListener(event, function () {
                    if (inputFilter(this.value)) {
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    } else if (this.hasOwnProperty("oldValue")) {
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    } else {
                        this.value = "";
                    }
                });
            });
        }


        setInputFilter(document.getElementById("telefono_fijo"), function (value) {
            return /^-?\d*$/.test(value);
        });
        setInputFilter(document.getElementById("cedula"), function (value) {
            return /^-?\d*[.,]?\d*$/.test(value);
        });
        setInputFilter(document.getElementById("celular"), function (value) {
            return /^-?\d*[.,]?\d*$/.test(value);
        });
        setInputFilter(document.getElementById("celular_telemercadeo"), function (value) {
            return /^-?\d*[.,]?\d*$/.test(value);
        });


    </script>
{% endblock %}
<style>

    body {
        background: rgba(194, 204, 142, 1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(194, 204, 142, 1) 0%, rgba(70, 175, 138, 1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(194, 204, 142, 1)), color-stop(100%, rgba(70, 175, 138, 1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(194, 204, 142, 1) 0%, rgba(70, 175, 138, 1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(194, 204, 142, 1) 0%, rgba(70, 175, 138, 1) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(194, 204, 142, 1) 0%, rgba(70, 175, 138, 1) 100%);
        background: radial-gradient(ellipse at center, rgba(194, 204, 142, 1) 0%, rgba(70, 175, 138, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2cc8e', endColorstr='#46af8a', GradientType=1);
    }

</style>



