{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'dist/img/LogoSGT.png' %}">
    <title>{{ perfil.usuario.first_name }}</title>
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
</head>

{% block form %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-8 p-4" id="profile-box">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-user"></i>Complete los siguientes campos para continuar
                        </h5>
                        <form method="POST" action="{% url 'usuario:perfil' %}">
                            {% csrf_token %}

                            {% if form.errors %}
                                <p>{{ form.errors }}</p>


                                <div class="media">


                                <br> <br>
                                <img src="{% static 'dist/img/avatar1.jpg' %}" class="rounded-circle" height="50"/>


                                <div class="media-body">
                                <h5 class="ml-4"></h5>
                                <p class="ml-4"><input type="file" name="picture"></p>

                                <div class="alert alert-danger">

                                    <b>Picture: </b>{{ error }}
                                </div>
                            {% endif %}
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col">

                                        <label>Nombres</label>

                                        <input class="form-control"
                                               readonly onmousedown="return false"
                                               name="firts_name" id="firts_name"
                                               maxlength="15"

                                               value="{{ user.first_name }}"
                                               onkeypress="return soloLetras(event)"
                                               type="text"/>

                                    </div>
                                    <div class="col">

                                        <label>Apellido</label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                name="last_name"
                                                placeholder=""
                                                readonly onmousedown="return false"
                                                value="{{ user.last_name }}"/>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mt-4">

                                        <label>Email</label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                name="email"
                                                placeholder=""
                                                readonly onmousedown="return false"
                                                value="{{ user.email }}"/>

                                    </div>
                                    <div class="col mt-4">
                                        <div class="form-group">
                                            <label>Telefono fijo </label>
                                            <input class="form-control"
                                                   name="telefono_fijo" id="telefono_fijo"
                                                   placeholder="Telefono fijo"
                                                   onkeypress="return soloNumeros(event)"
                                                   value="{{ perfil.telefono_fijo }}"
                                                   type="text"/>

                                        </div>
                                    </div>
                                    <div class="col mt-4">
                                        <div class="form-group">
                                            <label>Cedula </label>
                                            <div class="form-group" id="document-form">
                                                <input class="form-control"
                                                       id="cedula" name="cedula"
                                                       maxlength="10"
                                                       onkeypress="return soloNumeros(event)"
                                                       VALUE="{{ perfil.cedula }}"
                                                       placeholder="Documento de identidad"
                                                       type="text"
                                                />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label>Celular </label>
                                            <div class="form-group">
                                                <input class="form-control"
                                                       name="celular" id="celular"
                                                       placeholder="Movil"
                                                       maxlength="15" minlength="8"
                                                       onkeypress="return soloNumeros(event)"
                                                       value="{{ perfil.celular }}"
                                                       type="text"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label>Celular telemercadeo </label>
                                            <div class="form-group">
                                                <input class="form-control"
                                                       name="celular_telemercadeo" id="celular_telemercadeo"
                                                       maxlength="15" minlength="8"
                                                       onkeypress="return soloNumeros(event)"
                                                       placeholder="Movil telemercadeo"
                                                       type="text"
                                                       value="{{ perfil.celular_telemercadeo }}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer mt-3">
                                {# Phone number field #}
                                <button type="submit" class="btn btn-success">Guardar cambios</button>
                                {% if errors %}
                                    <p class="text-red">{{ errors }}</p>
                                {% endif %}
                        </form>

                        <a class="btn btn-info" href="{% url 'usuario:cambio' %}">Cambiar contraseña</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
<style>

    body {
        background: rgba(194, 204, 142, 1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(194, 204, 142, 1) 0%, rgba(70, 175, 138, 1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(194, 204, 142, 1)), color-stop(100%, rgba(70, 175, 138, 1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(194, 204, 142, 1) 0%, rgba(70, 175, 138, 1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(194, 204, 142, 1) 0%, rgba(70, 175, 138, 1) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(194, 204, 142, 1) 0%, rgba(70, 175, 138, 1) 100%);
        background: radial-gradient(ellipse at center, rgba(194, 204, 142, 1) 0%, rgba(70, 175, 138, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2cc8e', endColorstr='#46af8a', GradientType=1);

    }
</style>